#home-h1 {
  color: #fff; }

#main {
  min-height: 100%; }

#home {
  height: 100% !important;
  background: linear-gradient(#4d394b, #516395);
  text-align: center; }

#home-h1 {
  padding: 4em 0 2em 0; }

.navbar-default {
  background-color: #fff !important;
  border-color: none !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative !important;
  min-height: 16px !important; }

.navbar-fixed-top {
  box-shadow: none !important;
  min-height: 16px !important;
  border-bottom: 1px solid #E8E8E8;
  z-index: -99 !important; }

.btn-transparent {
  background-color: #fff;
  margin-top: 7px;
  color: #777;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

button.btn-custom {
  background-color: transparent;
  margin-top: 7px;
  color: #4c9689;
  border-color: #4c9689;
  letter-spacing: .1em;
  padding: .2em 2.5em .2em 2.5em;
  border-radius: .5em;
  font-size: 1.2em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  button.btn-custom:hover {
    color: #fff;
    border-color: transparent;
    background-color: #4c9689; }

button.btn-main {
  background-color: #4c9689;
  margin-top: 7px;
  color: #fff;
  border-color: #4c9689;
  letter-spacing: .1em;
  padding: 0.2em 1em 0.2em 1em !important;
  border-radius: .2em;
  font-size: 1.2em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  button.btn-main:hover {
    color: #fff;
    border-color: transparent;
    background-color: #02a0b8; }

input.form-control {
  background: linear-gradient(to right, rgba(2, 204, 186, 0.1) 0%, rgba(2, 160, 184, 0.1) 100%);
  border-radius: .5em;
  border-top-right-radius: 0.5em !important;
  border-bottom-right-radius: 0.5em !important;
  padding: .2em 6em .2em 6em;
  border-color: #4c9689; }

input.input-group input.form-control {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-color: #4c9689; }

input.input-group input.form-control:first-child {
  border-top-right-radius: 0.5em !important;
  border-bottom-right-radius: 0.5em !important; }

input.form-control:focus {
  border-color: #4c9689;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input, select, textarea {
  font-size: 1.2em;
  padding: 10px;
  text-shadow: 0px 0px 0px #4c9689;
  -webkit-text-fill-color: transparent; }

#control-label {
  color: #fff;
  padding-bottom: 5px; }

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  background-color: #4d394b !important; }

#left-background {
  background-color: #4d394b !important;
  padding-top: 40px !important; }

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-left: 60px !important;
  margin-bottom: -1px;
  color: #a1909e !important;
  background-color: #4d394b !important;
  border: none !important;
  line-height: 6px; }
  .list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(44, 45, 48, 0.5) !important; }
    .list-group-item:hover:focus {
      background: #4c9689 !important;
      outline: none !important;
      outline: #516395 solid 2px;
      color: #fff !important; }
      .list-group-item:hover:focus:active {
        background: #4c9689 !important;
        color: #fff; }
        .list-group-item:hover:focus:active:target {
          background: #4c9689; }

.list-group-item:target {
  background: #4c9689; }

#left-col-header {
  padding-left: 75px;
  color: #a1909e; }
  #left-col-header:hover {
    color: #fff; }

#p-left-col {
  padding-left: 75px;
  color: #a1909e !important; }
  #p-left-col:hover {
    background: rgba(44, 45, 48, 0.5) !important;
    overflow: none !important; }

div.col-left-background {
  background-color: #4d394b !important; }
  div.col-left-background:hover {
    background: #4d394b !important; }

.span-to-bottom {
  height: 100% !important;
  position: fixed !important;
  width: 275px; }

.show-grid {
  z-index: -100 !important; }

.chat-log {
  padding-top: 60px !important; }

.content {
  display: flex;
  /* a container normally grows to the size of its content,
   but to achieve an independant scrolling efffect we'll
   have to force this to the height of the browser
   and have it not display content that goes beyond those
   limits */
  height: 100vh;
  overflow: hidden; }

.posts {
  margin-top: 50px;
  /* because overflow was hidden on content, we have
   to add the scroll on the y axis */
  overflow-y: scroll; }

.convo {
  z-index: -99999 !important; }

.under {
  z-index: -999999 !important; }

#push-bottom {
  bottom: 10px;
  z-index: -99;
  position: fixed !important;
  background-color: #fff !important;
  width: 80%;
  margin-top: 60px; }
