h1 {
  color: red; }

#main {
  min-height: 100%; }

.btn-transparent {
  background-color: #fff;
  margin-top: 7px;
  color: #777;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

button.btn-custom {
  background-color: transparent;
  margin-top: 7px;
  color: #02CCBA;
  border-color: #02CCBA;
  letter-spacing: .1em;
  padding: 0.4em 1.75em;
  border-radius: .5em;
  font-size: 1.2em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  button.btn-custom:hover {
    color: #fff;
    border-color: transparent;
    background-color: #02CCBA; }

.panel-info > .panel-heading {
  color: blue; }
