#home-h1 {
  color: #fff; }

#main {
  min-height: 100%; }

#home {
  height: 100% !important;
  background: linear-gradient(#4d394b, #516395);
  text-align: center; }

#home-h1 {
  padding: 4em 0 2em 0; }

.navbar-default {
  background-color: #4d394b !important;
  border-color: none !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed; }

.navbar-fixed-top {
  box-shadow: none !important; }

.btn-transparent {
  background-color: #fff;
  margin-top: 7px;
  color: #777;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

button.btn-custom {
  background-color: transparent;
  margin-top: 7px;
  color: #4c9689;
  border-color: #4c9689;
  letter-spacing: .1em;
  padding: .2em 2.5em .2em 2.5em;
  border-radius: .5em;
  font-size: 1.2em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  button.btn-custom:hover {
    color: #fff;
    border-color: transparent;
    background-color: #4c9689; }

input.form-control {
  background: linear-gradient(to right, rgba(2, 204, 186, 0.1) 0%, rgba(2, 160, 184, 0.1) 100%);
  border-radius: .5em;
  border-top-right-radius: 0.5em !important;
  border-bottom-right-radius: 0.5em !important;
  padding: .2em 6em .2em 6em;
  border-color: #4c9689; }

input.input-group input.form-control {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-color: #4c9689; }

input.input-group input.form-control:first-child {
  border-top-right-radius: 0.5em !important;
  border-bottom-right-radius: 0.5em !important; }

input.form-control:focus {
  border-color: #4c9689;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input, select, textarea {
  font-size: 1.2em;
  padding: 10px;
  text-shadow: 0px 0px 0px #4c9689;
  -webkit-text-fill-color: transparent; }

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  background-color: #4d394b !important; }

#left-background {
  background-color: #4d394b !important; }

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-left: 60px !important;
  margin-bottom: -1px;
  color: #fff !important;
  background-color: #4d394b !important;
  border: none !important; }
  .list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background: #4c9689 !important; }
    .list-group-item:hover:focus {
      background: #4c9689 !important;
      outline: -webkit-focus-ring-color auto 5px;
      outline: #516395 solid 2px; }

#left-col-header {
  padding-left: 75px;
  color: #fff; }

div.col-left-background {
  background-color: #4d394b !important; }

.chat-log {
  padding-top: 60px !important; }
