html, body, h1, h2, h3, h4, h5, p, li {
  font-family: "Lato", sans-serif !important; }

#home-h1 {
  color: #fff;
  font-size: 52px;
  padding: 4em 0 1em 0;
  letter-spacing: 4px; }

#main {
  min-height: 100%; }

#home {
  width: 100%;
  height: 100% !important;
  background-size: cover !important;
  background-position: center center;
  background: linear-gradient(rgba(77, 57, 75, 0.8), rgba(81, 99, 149, 0.8)), url("../../../public/images/willr.jpg");
  text-align: center; }

.navbar-default {
  background-color: #fff !important;
  border-color: none !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative !important;
  min-height: 16px !important; }

.navbar-fixed-top {
  box-shadow: none !important;
  min-height: 16px !important;
  border-bottom: 1px solid #E8E8E8;
  z-index: -99 !important; }

ol.breadcrumb {
  padding: 0px !important;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff !important;
  border-radius: 4px;
  font-size: 12px;
  color: rgba(113, 114, 116, 0.5) !important; }

.navbar-brand {
  padding: 4px 0px 0px 6px !important;
  color: #2C2D30 !important;
  font-weight: 900 !important;
  line-height: 1.3 !important; }

#slack-span {
  font-weight: 900 !important; }

.btn-transparent {
  background-color: #fff;
  margin-top: 7px;
  color: #777;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

button.btn-custom {
  background-color: transparent;
  margin-top: 7px;
  color: #4c9689;
  border-color: #4c9689;
  letter-spacing: .1em;
  padding: .2em 2.5em .2em 2.5em;
  border-radius: .5em;
  font-size: 1.2em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  button.btn-custom:hover {
    color: #fff;
    border-color: transparent;
    background-color: #4c9689; }

button.btn-main {
  background-color: #4c9689;
  margin-top: 7px;
  color: #fff;
  border-color: #4c9689;
  letter-spacing: .1em;
  padding: 0.2em 1em 0.2em 1em !important;
  border-radius: .2em;
  font-size: 1.2em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  button.btn-main:hover {
    color: #fff;
    border-color: transparent;
    background-color: #02a0b8; }

input.btn-file {
  background-color: transparent;
  margin-top: 7px;
  color: #fff !important;
  border-color: #4c9689;
  letter-spacing: .1em;
  padding: 0.2em 1em 0.2em 1em !important;
  border-radius: .2em;
  font-size: 1.2em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  input.btn-file:hover {
    border-color: transparent;
    background-color: #3b746a;
    color: #fff; }

button.btn.btn-btn-custom {
  background: #4c9689;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 0.35em !important;
  margin-left: 10px !important; }
  button.btn.btn-btn-custom:hover {
    background: #02a0b8; }

input.form-control {
  background: transparent;
  border-radius: .5em;
  border-top-right-radius: 0.5em !important;
  border-bottom-right-radius: 0.5em !important;
  padding: .2em 6em .2em 6em;
  border-color: 1px solid rgba(113, 114, 116, 0.5); }

input.input-group input.form-control {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-color: #4c9689; }

input.input-group input.form-control:first-child {
  border-top-right-radius: 0.5em !important;
  border-bottom-right-radius: 0.5em !important; }

input.form-control:focus {
  border-color: #4c9689;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input, select, textarea {
  font-size: 1.2em;
  padding: 10px;
  text-shadow: 0px 0px 0px #4c9689;
  -webkit-text-fill-color: transparent; }

#control-label {
  color: #fff;
  padding-bottom: 5px; }

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  background-color: #4d394b !important; }

#left-background {
  background-color: #4d394b !important;
  padding-top: 40px !important; }

#left-background-bottom {
  background-color: #4d394b !important;
  padding-top: 40px !important; }
  #left-background-bottom:hover {
    background-color: #4d394b !important; }

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-left: 60px !important;
  margin-bottom: -1px;
  color: #a1909e !important;
  background-color: #4d394b !important;
  border: none !important;
  line-height: 6px; }
  .list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(44, 45, 48, 0.5) !important; }
    .list-group-item:hover:focus {
      background: #4c9689 !important;
      outline: none !important;
      outline: #516395 solid 2px;
      color: #fff !important; }
      .list-group-item:hover:focus:active {
        background: #4c9689 !important;
        color: #fff; }
        .list-group-item:hover:focus:active:target {
          background: #4c9689; }

.selected-channel {
  background: #4c9689 !important;
  outline: none !important;
  outline: #516395 solid 2px;
  color: #fff !important; }

.list-group-item:target {
  background: #4c9689; }

#left-col-header {
  padding-left: 75px;
  color: #a1909e; }
  #left-col-header:hover {
    color: #fff; }

#p-left-col {
  padding-left: 75px;
  color: #a1909e !important; }
  #p-left-col:hover {
    background: rgba(44, 45, 48, 0.5) !important;
    overflow: none !important; }

div.col-left-background {
  background-color: #4d394b !important; }
  div.col-left-background:hover {
    background: #4d394b !important; }

.span-to-bottom {
  height: 100% !important;
  position: fixed !important;
  width: 275px; }

.show-grid {
  z-index: -100 !important; }

.chat-log {
  padding-top: 60px !important; }

.content {
  display: flex;
  /* a container normally grows to the size of its content,
   but to achieve an independant scrolling efffect we'll
   have to force this to the height of the browser
   and have it not display content that goes beyond those
   limits */
  height: 100vh;
  overflow: hidden; }

.posts {
  margin-top: 50px;
  /* because overflow was hidden on content, we have
   to add the scroll on the y axis */
  overflow-y: scroll; }

.convo {
  z-index: -99999 !important; }

.under {
  z-index: -999999 !important;
  padding-left: 30px !important; }

#push-bottom {
  bottom: 10px;
  z-index: -99;
  position: fixed !important;
  background-color: #fff !important;
  width: 80%;
  margin-top: 60px; }

.media-padding {
  padding-left: 39px; }

.fa-heart, .fa-circle {
  color: #4c9689; }

.fa-phone {
  color: rgba(113, 114, 116, 0.5);
  font-size: 18px !important;
  padding-right: 18px; }

.fa-cog {
  color: rgba(113, 114, 116, 0.5);
  font-size: 18px !important;
  padding-right: 18px; }
  .fa-cog:hover {
    color: #2D9CF5 !important; }

.fa-id-card-o {
  color: rgba(113, 114, 116, 0.5);
  font-size: 18px !important;
  padding-right: 18px; }

.fa-at {
  color: rgba(113, 114, 116, 0.5);
  font-size: 18px !important;
  padding-right: 18px;
  padding-left: 18px; }

.fa-star-o {
  color: rgba(113, 114, 116, 0.5);
  font-size: 18px !important;
  padding-right: 18px; }

.fa-ellipsis-v {
  color: rgba(113, 114, 116, 0.5);
  font-size: 18px !important;
  padding-right: 0px; }

.fa-plus-circle {
  color: rgba(113, 114, 116, 0.5);
  float: right;
  padding-right: 40px; }

.fa-bell-o {
  color: rgba(113, 114, 116, 0.5);
  float: right;
  padding-right: 40px;
  padding-top: 2px; }
  .fa-bell-o:hover {
    color: #fff; }
