$green: #02CCBA;
$blue: rgb(2,160,184);

@mixin transition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  transition: $x;
}

@mixin border-radius($x) {
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  border-radius: $x;
}

h1 {
  color: red;
}

#main {
  //background: linear-gradient(to right, #02CCBA 0%, #348ac7 100%);
  min-height: 100%;
}

.btn-transparent {
  background-color: #fff;
  margin-top: 7px;
  color: #777;
  @include transition(all 0.4s ease-in-out);
  }


button.btn-custom {
  background-color: transparent;
  margin-top: 7px;
  color: $green;
  border-color: $green;
  letter-spacing: .1em;
  padding: 0.4em 1.75em;
  border-radius: .5em;
  font-size: 1.2em;
  @include transition(all 0.4s ease-in-out);
  &:hover {
    color: #fff;
    border-color: transparent;
    background-color: $green;
  }
}

.panel-info > .panel-heading {
  color: blue;
}
