$color1: rgb(2, 204, 186);
$color1-tint: rgba(2, 204, 186, 0.1);
$color2: rgb(2,160,184);
$color2-tint: rgba(2, 160, 184, 0.1);
$color3: #614385;
$color4: #516395;

@mixin transition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  transition: $x;
}

@mixin border-radius($x) {
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  border-radius: $x;
}

body {
  //font-family: 'Della Respira', serif;
  //

}

///////////////* HOME PAGE *////////////////
#home-h1 {
  color: #fff;
}

#main {
  //background: linear-gradient(to right, #02CCBA 0%, #348ac7 100%);
  min-height: 100%;
}

#home {
  //background: linear-gradient(to right, #02CCBA 0%, #348ac7 100%);
  height: 100%!important;
  background: linear-gradient($color3, $color4);
  text-align: center;
}

#home-h1 {
  padding: 4em 0 2em 0;
}
///////////////////* NAVBAR *//////////////////////

.navbar-default {
    background-color: red!important;
    background: linear-gradient(to right, $color3 0%, $color4 100%);
    border-color: none!important;
    border-radius: 0!important;
    border: none!important;
    box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
    // margin-bottom: 80px!important;
    margin-bottom: 0px!important;
    padding-top: 5px;
    padding-bottom: 5px;
}


// .navbar-nav>li>a {
//        padding-top: 10px;
//        padding-bottom: 10px;
//        border-color: none;
//        border-radius: 0;
//    }



///////////////////* BUTTONS */////////////////////

.btn-transparent {
  background-color: #fff;
  margin-top: 7px;
  color: #777;
  @include transition(all 0.4s ease-in-out);
  }


button.btn-custom {
  background-color: transparent;
  margin-top: 7px;
  color: $color1;
  border-color: $color1;
  letter-spacing: .1em;
  padding: .2em 2.5em .2em 2.5em;
  border-radius: .5em;
  font-size: 1.2em;
  @include transition(all 0.4s ease-in-out);
  &:hover {
    color: #fff;
    border-color: transparent;
    background-color: $color1;
  }
}


///////////////* Forms */////////////

input.form-control {
  background: linear-gradient(to right, $color1-tint 0%, $color2-tint 100%);
  border-radius: .5em;
  border-top-right-radius: .5em!important;
  border-bottom-right-radius: .5em!important;
  padding: .2em 6em .2em 6em;
  border-color: $color1;
}

input.input-group input.form-control {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-color: $color1;
}

input.input-group input.form-control:first-child {
    border-top-right-radius: 0.5em!important;
    border-bottom-right-radius: 0.5em!important;
}

input.form-control:focus {
    border-color: $color1;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input, select, textarea{
  font-size: 1.2em;
  padding: 10px;
  text-shadow: 0px 0px 0px $color1;
  -webkit-text-fill-color: transparent;
}

///////////////////* CHAT ROOM *//////////////////////


//////////////* Left Col */////////////

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    background: linear-gradient(to right, $color3 0%, $color4 100%);
}

#left-background {
  background: linear-gradient(to right, $color3 0%, $color4 100%);
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #fff!important;
    background: linear-gradient(to right, $color3 0%, $color4 100%)!important;
    border: none!important;
    padding-left: 60!important;
    &:hover {
      color: #fff;
      text-decoration: none;
      background: $color1!important;
    &:focus {
      background: $color1!important;
      outline: -webkit-focus-ring-color auto 5px;
      outline: $color4 solid 2px;
    }
  }
}

#left-col-header {
  padding-left: 75px;
  color: #fff;
}
