$color1: rgb(76,150,137);
$color1-tint: rgba(2, 204, 186, 0.1);
$color2: rgb(2,160,184);
$color2-tint: rgba(2, 160, 184, 0.1);
$color3: rgb(77,57,75);
$color4: #516395;
$slack-fade: rgb(161,144,158);

@mixin transition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  transition: $x;
}

@mixin border-radius($x) {
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  border-radius: $x;
}

body {
  //font-family: 'Della Respira', serif;
  //

}

///////////////* HOME PAGE *////////////////
#home-h1 {
  color: #fff;
}

#main {
  //background: linear-gradient(to right, #02CCBA 0%, #348ac7 100%);
  min-height: 100%;
}

#home {
  //background: linear-gradient(to right, #02CCBA 0%, #348ac7 100%);
  height: 100%!important;
  background: linear-gradient($color3, $color4);
  text-align: center;
}

#home-h1 {
  padding: 4em 0 2em 0;
}
///////////////////* NAVBAR *//////////////////////

.navbar-default {
    background-color: #fff!important;
    border-color: none !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none!important;
    margin-bottom: 0px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative!important;
    min-height:16px !important;
}
.navbar-fixed-top {
  box-shadow: none!important;
  min-height:16px !important;
  border-bottom: 1px solid #E8E8E8;
  z-index: -99!important;
}



// .navbar-text {
//   padding: 0px!important;
//   margin: none;
// }


// .navbar-nav>li>a {
//        padding-top: 10px;
//        padding-bottom: 10px;
//        border-color: none;
//        border-radius: 0;
//    }



///////////////////* BUTTONS */////////////////////

.btn-transparent {
  background-color: #fff;
  margin-top: 7px;
  color: #777;
  @include transition(all 0.4s ease-in-out);
  }


button.btn-custom {
  background-color: transparent;
  margin-top: 7px;
  color: $color1;
  border-color: $color1;
  letter-spacing: .1em;
  padding: .2em 2.5em .2em 2.5em;
  border-radius: .5em;
  font-size: 1.2em;
  @include transition(all 0.4s ease-in-out);
  &:hover {
    color: #fff;
    border-color: transparent;
    background-color: $color1;
  }
}

button.btn-main {
  background-color: $color1;
  margin-top: 7px;
  color: #fff;
  border-color: $color1;
  letter-spacing: .1em;
  padding: .2em 1em .2em 1em!important;
  border-radius: .2em;
  font-size: 1.2em;
  @include transition(all 0.4s ease-in-out);
  &:hover {
    color: #fff;
    border-color: transparent;
    background-color: $color2;
  }
}


///////////////* Forms */////////////

input.form-control {
  background: linear-gradient(to right, $color1-tint 0%, $color2-tint 100%);
  border-radius: .5em;
  border-top-right-radius: .5em!important;
  border-bottom-right-radius: .5em!important;
  padding: .2em 6em .2em 6em;
  border-color: $color1;
}

input.input-group input.form-control {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-color: $color1;
}

input.input-group input.form-control:first-child {
    border-top-right-radius: 0.5em!important;
    border-bottom-right-radius: 0.5em!important;
}

input.form-control:focus {
    border-color: $color1;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input, select, textarea{
  font-size: 1.2em;
  padding: 10px;
  text-shadow: 0px 0px 0px $color1;
  -webkit-text-fill-color: transparent;
}

#control-label {
  color: #fff;
  padding-bottom: 5px;
}

///////////////////* CHAT ROOM *//////////////////////


//////////////* Left Col */////////////

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    background-color: $color3!important;
}

#left-background {
  background-color: $color3!important;
  padding-top: 40px!important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-left: 60px!important;
    margin-bottom: -1px;
    color: $slack-fade!important;
    background-color: $color3!important;
    border: none!important;
    line-height: 6px;
      &:hover {
        color: #fff;
        text-decoration: none;
        background: rgba(44,45,48,0.5)!important;
      &:focus {
        background: $color1!important;
        outline: none!important;
        outline: $color4 solid 2px;
        color: #fff!important;
      &:active {
        background: $color1!important;
        color: #fff;
      &:target {
        background: $color1;
       }
      }
    }
  }
}

.list-group-item:target {
  background: $color1;
}

#left-col-header {
  padding-left: 75px;
  color: $slack-fade;
  &:hover {
    color: #fff;
  }
}

#p-left-col {
  padding-left: 75px;
  color: $slack-fade!important;
  &:hover {
    background: rgba(44,45,48,0.5)!important;
    overflow: none!important;
  }
}

// #left-col {
//   // width: 400px;
//   position: fixed;
// }

div.col-left-background {
  background-color: $color3!important;
  &:hover {
    background: $color3!important;
  }
}

.span-to-bottom {
  height: 100%!important;
  position: fixed!important;
  width: 275px;
}

// .sidebar {
//     position: fixed;
//     top: 51px;
//     bottom: 0;
//     left: 0;
//     z-index: 1000;
//     display: block;
//     padding: 0px;
//     overflow-x: hidden;
//     overflow-y: hidden;
//     background-color: $color3;
//     border-right: 1px solid #eee;
// }



/////////////////////* CHAT LOG */////////////////////////

.show-grid {
  z-index: -100!important;
}

.chat-log {
  padding-top: 60px!important;
}

.content {
  display: flex;
/* a container normally grows to the size of its content,
   but to achieve an independant scrolling efffect we'll
   have to force this to the height of the browser
   and have it not display content that goes beyond those
   limits */
  height: 100vh;
  overflow: hidden;
}

.posts {
  margin-top: 50px;
/* because overflow was hidden on content, we have
   to add the scroll on the y axis */
  overflow-y: scroll;
}


.convo {
  z-index: -99999!important;
}

.under {
  z-index: -999999!important;
}

#push-bottom {
  bottom: 10px;
  z-index: -99;
  position: fixed!important;
  background-color: #fff!important;
  width: 80%;
  margin-top: 60px;
}
/////////////* ICONS *//////////////

.chevron-down {
  width: 5px;
}
